Farmacia-war/src/conf/xml-resources/web-service-references/WSPaziente/wsdl/localhost_8080/WSPaziente/WSPaziente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WSPaziente">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WSPaziente/WSPaziente?xsd=1"/>
</xsd:schema>
</types>
<message name="verificaCF">
<part name="parameters" element="tns:verificaCF"/>
</message>
<message name="verificaCFResponse">
<part name="parameters" element="tns:verificaCFResponse"/>
</message>
<message name="getPazienteTransient">
<part name="parameters" element="tns:getPazienteTransient"/>
</message>
<message name="getPazienteTransientResponse">
<part name="parameters" element="tns:getPazienteTransientResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="WSPaziente">
<operation name="verificaCF">
<input wsam:Action="http://WebService/WSPaziente/verificaCFRequest" message="tns:verificaCF"/>
<output wsam:Action="http://WebService/WSPaziente/verificaCFResponse" message="tns:verificaCFResponse"/>
</operation>
<operation name="getPazienteTransient">
<input wsam:Action="http://WebService/WSPaziente/getPazienteTransientRequest" message="tns:getPazienteTransient"/>
<output wsam:Action="http://WebService/WSPaziente/getPazienteTransientResponse" message="tns:getPazienteTransientResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://WebService/WSPaziente/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://WebService/WSPaziente/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://WebService/WSPaziente/create" message="tns:create"/>
</operation>
<operation name="remove">
<input wsam:Action="http://WebService/WSPaziente/remove" message="tns:remove"/>
</operation>
<operation name="find">
<input wsam:Action="http://WebService/WSPaziente/findRequest" message="tns:find"/>
<output wsam:Action="http://WebService/WSPaziente/findResponse" message="tns:findResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://WebService/WSPaziente/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://WebService/WSPaziente/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="count">
<input wsam:Action="http://WebService/WSPaziente/countRequest" message="tns:count"/>
<output wsam:Action="http://WebService/WSPaziente/countResponse" message="tns:countResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://WebService/WSPaziente/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="WSPazientePortBinding" type="tns:WSPaziente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verificaCF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPazienteTransient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WSPaziente">
<port name="WSPazientePort" binding="tns:WSPazientePortBinding">
<soap:address location="http://localhost:8080/WSPaziente/WSPaziente"/>
</port>
</service>
</definitions>